{% extends "doc_layout.html"%}
{% block content%}


<div class="card promoting-card" style="width:90%;margin-left:5%;height:380px">
    <div class="card-body">
        <div class="row">
            <div class="col-1">
                <img src="https://kit8.net/images/detailed/4/Doctor.png"
                     width="450" >
            </div>

            <div class="col-11" style="padding-left:35%; ">
                <h2 class="card-title font-weight-bold mb-2" style=" text-shadow: 1px 1px 3px #dee2e6;">Today's
                    meeting</h2>
                <p class="card-text"><i class="far fa-clock pr-2"></i>
                    {{today}}
                </p>
                <hr>
                <div class="row">
                    {% if myAppointments %}
                    {% for i in myAppointments %}
                    {% if i.date == today %}
                    <div class="col-4" style="background:#f5f9fc;height:10%; padding:2%;margin-right:3%;box-shadow: 3px 3px 8px #dee2e6; ">
                        Meeting with <b>{{i.createdby_name}}</b> at {{i.time}} <br><br>
                        Mode: {{i.mode}}<br>
                        <div class="row">
                            <div class="col-">
                                <button type="submit" class="btn btn btn-secondary" value="{{ i.createdby_id }}">
                                    <a href="{{ url_for('feedback', id=i.createdby_id) }}" style="color:#fff"> Give
                                        <br> feedback</a>
                                </button>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                {%if i.mode == 'online'%}
                                <button type="submit" class="btn  btn-info">
                                    <a href="https://us04web.zoom.us/j/74710727644?pwd=SEZQTzJqOExCcnFiN1ZtVlhDZWhYZz09"
                                    >Join <br> Meeting</a></button>
                                {% endif %}
                            </div>


                        </div>
                    </div>

                    {% endif %}

                    {% endfor %}

                    {% else %}
                    <h3>No appointments for today</h3>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>

</div>
<!-- Card -->

<br>
<h2>Upcoming Consultation</h2>


<div class="row" style="font-size:19px;margin:2%">
    <div class="col-12">
        <table class="table table-striped table-hover">
            <thead>
            <th scope="col">No</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Mode</th>
            <th scope="col">Status</th>
            </thead>
            <tbody>
            <tr>
                {% for i in myAppointments %}

                <th scope="row">{{ loop.index }}</th>
                <td> {{i.createdby_name}}</td>
                <td>{{i.date}}</td>
                <td>{{i.time}}</td>
                <td>{{i.mode}}</td>
                <td>{{i.status}}</td>
                <td>
                    <button type="submit" class="btn btn-dark " value="{{ i.createdby_id }}">
                        <a href="{{ url_for('doc_view_history', id=i.createdby_id) }}" style="color: white !important"> View patient history</a>
                    </button>
                </td>


            </tr>
            {% endfor %}

            <tr>

            </tr>

            </tbody>
        </table>

    </div>

</div>
<br>
<hr>


{% endblock%}